<%= form_for(@work_step) do |f| %>
  <% if @work_step.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work_step.errors.count, "error") %> prohibited this work_step from being saved:</h2>

      <ul>
      <% @work_step.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :DisplayName %><br>
    <%= f.text_field :DisplayName %>
  </div>
  <div class="field">
    <%= f.label :Description %><br>
    <%= f.text_field :Description %>
  </div>
  <div class="field">
    <%= f.label :AllowQuantityInput %><br>
    <%= f.check_box :AllowQuantityInput %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
