<h3><%= t('list.show_single') %></h3>

<p>
  <strong>Bezeichnung:</strong>
  <%= @work_step.DisplayName %>
</p>

<p>
  <strong>Beschreibung:</strong>
  <%= @work_step.Description %>
</p>

<p>
  <strong>Mengeneingabe:</strong>
  <%= @work_step.AllowQuantityInput %>
</p>

<div class="btn-group btn-group-lg">
  <%= link_to t('list.edit'), edit_work_step_path(@work_step), class: 'btn btn-default' %>
  <%= link_to t('back'), work_steps_path, class: 'btn btn-default' %>
</div>